<a href="https://colab.research.google.com/github/Sarvesh1814/US-Book-Recommendation-System/blob/main/Feature_Extractions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Importing Important Libraries
import pandas as pd
import numpy as np

In [ ]:
book_data = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/Books.csv')
rating_data = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/Ratings.csv')
user_data = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/users.csv')

<ipython-input-3-c24ad3b34172>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book_data = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/Books.csv')

In [ ]:
book_data.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [ ]:
user_data.head(5)

   Unnamed: 0  User-ID                       Location   Age country
0           0        1             nyc, new york, usa   NaN     usa
1           1        2      stockton, california, usa  18.0     usa
2           5        6  santa monica, california, usa  61.0     usa
3           6        7            washington, dc, usa   NaN     usa
4           8        9     germantown, tennessee, usa   NaN     usa

In [ ]:
rating_data.head(5)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [ ]:
train_book_data = pd.read_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/train_df.csv')

In [ ]:
train_book_data.head()

,Unnamed: 0,User-ID,ISBN,Book-Rating,book_name
0,0,68436,0345323440,8,Footfall
1,1,216829,0375707972,5,The Reader
2,2,153718,0373484887,7,Hidden Star (The Star Series)
3,3,62862,0140244824,5,Songs in Ordinary Time (Oprah's Book Club (Pap...
4,4,17003,0312305060,10,The Hours: A Novel

In [ ]:
len(train_book_data)

96296

In [ ]:
unique_books = train_book_data['book_name'].unique()

In [ ]:
len(unique_books)

6575

In [ ]:
books_details = pd.DataFrame(unique_books,columns=['Book_Title'])
books_details.head()

                                          Book_Title
0                                           Footfall
1                                         The Reader
2                      Hidden Star (The Star Series)
3  Songs in Ordinary Time (Oprah's Book Club (Pap...
4                                 The Hours: A Novel

In [ ]:
Api_Key_1 = "AIzaSyD1bqwci0Gub1Xr98oaMbtfPhYBsXaxkPg"
API_KEY_2 = "AIzaSyC8UyIocb19H6OJkvyBxlGLglVMxz9sLXA"
API_KEY_3 = "AIzaSyA1B1OFSr62ULsh4R51-xdRIxRc6ON52AE"
API_KEY_4 = "AIzaSyCYT5cfyvrGuGh7Ii4YxWvNeHmocVhPSLs"
API_KEY_5 = "AIzaSyCqD71raBqTjRz2Huj3881sZdPFvoeLruA"
API_KEY_6 = "AIzaSyDdHtRUOgpD47C4gUCUh1wZNuaTomanX30"
API_KEY_7 = "AIzaSyDNuzLGnQndnIvZlQUcdEarEWZE5A7Ki7o"

Project_1000 = "AIzaSyCBndHRO3tExKi3hqUj5r-J6IpD1lm1n7M"
Project_2000 = "AIzaSyDbuft9-eP-veVxgUwCzzLEYhzxYskZ6_M"
Project_3000 = "AIzaSyAHUbPGnFzPtNuTix1kKbzwXtbpTrOH1rQ"
Project_4000 = "AIzaSyA_fceff65oKIjzo5rX_MLr-iVzVUkfmSI"
Project_5000 = "AIzaSyCXEIlutsqgLYSRlSJRqICSFIqrxUPeM_I"
Project_6000 = "AIzaSyDO8o_M85XICdAUEZwCtA1IGpcDy44wiOk"
Project_6500 = "AIzaSyAzrSbklmN2jXfwoylPcP3gDQJOy_B2ZYc"

In [ ]:
import pandas as pd
import time
from googleapiclient.discovery import build

# Define function to get book info from Google Books API
def get_book_info(title):
    service = build('books', 'v1', developerKey='AIzaSyAzrSbklmN2jXfwoylPcP3gDQJOy_B2ZYc')
    result = service.volumes().list(q=title).execute()
    if 'items' in result:
        book = result['items'][0]['volumeInfo']
        language = book.get('language', '')
        page_count = book.get('pageCount', '')
        categories = book.get('categories', [])
        description = book.get('description', '')
        return {'language': language, 'page_count': page_count, 'categories': categories, 'description': description}
    return None


# Define new columns for genre and description
books_details['language'] = ''
books_details['page_count'] = ''
books_details['categories'] = ''
books_details['description'] = ''

# Iterate over each book title and append the genre and description
for i, row in books_details.iloc[6291:].iterrows():
    print(i)
    title = row['Book_Title']
    book_info = get_book_info(title)
    if (i+1) % 100 == 0:
        time.sleep(50)
    if book_info:
        books_details.at[i, 'language'] = book_info['language']
        books_details.at[i, 'page_count'] = book_info['page_count']
        books_details.at[i, 'categories'] = book_info['categories']
        books_details.at[i, 'description'] = book_info['description']
    else:
        books_details.at[i, 'language'] = " "
        books_details.at[i, 'page_count'] = " "
        books_details.at[i, 'categories'] = " "
        books_details.at[i, 'description'] = " "

6291
6292
6293
6294
6295
6296
6297
6298
6299
6300
6301
6302
6303
6304
6305
6306
6307
6308
6309
6310
6311
6312
6313
6314
6315
6316
6317
6318
6319
6320
6321
6322
6323
6324
6325
6326
6327
6328
6329
6330
6331
6332
6333
6334
6335
6336
6337
6338
6339
6340
6341
6342
6343
6344
6345
6346
6347
6348
6349
6350
6351
6352
6353
6354
6355
6356
6357
6358
6359
6360
6361
6362
6363
6364
6365
6366
6367
6368
6369
6370
6371
6372
6373
6374
6375
6376
6377
6378
6379
6380
6381
6382
6383
6384
6385
6386
6387
6388
6389
6390
6391
6392
6393
6394
6395
6396
6397
6398
6399
6400
6401
6402
6403
6404
6405
6406
6407
6408
6409
6410
6411
6412
6413
6414
6415
6416
6417
6418
6419
6420
6421
6422
6423
6424
6425
6426
6427
6428
6429
6430
6431
6432
6433
6434
6435
6436
6437
6438
6439
6440
6441
6442
6443
6444
6445
6446
6447
6448
6449
6450
6451
6452
6453
6454
6455
6456
6457
6458
6459
6460
6461
6462
6463
6464
6465
6466
6467
6468
6469
6470
6471
6472
6473
6474
6475
6476
6477
6478
6479
6480
6481
6482
6483
6484
6485
6486
6487
6488
6489
6490
6491
6492
6493
6494
6495
6496
6497
6498
6499
6500
6501
6502
6503
6504
6505
6506
6507
6508
6509
6510
6511
6512
6513
6514
6515
6516
6517
6518
6519
6520
6521
6522
6523
6524
6525
6526
6527
6528
6529
6530
6531
6532
6533
6534
6535
6536
6537
6538
6539
6540
6541
6542
6543
6544
6545
6546
6547
6548
6549
6550
6551
6552
6553
6554
6555
6556
6557
6558
6559
6560
6561
6562
6563
6564
6565
6566
6567
6568
6569
6570
6571
6572
6573
6574

In [ ]:
books_details.head()

,Book_Title,language,page_count,categories,description
0,Footfall,en,706,[Fiction],"Hostile extraterrestrials, known as the Fithp,..."
1,The Reader,en,224,[Fiction],Hailed for its coiled eroticism and the moral ...
2,Hidden Star (The Star Series),en,234,[Fiction],Eleven-year-old Nolitye's granny used to say: ...
3,Songs in Ordinary Time (Oprah's Book Club (Pap...,en,682,[Fiction],This New York Times bestseller of a troubled f...
4,The Hours: A Novel,en,295,[Fiction],Michael Cunningham brings together his Pulitze...

In [ ]:
books_details.iloc[6291:6575]

,Book_Title,language,page_count,categories,description
6291,Kitchen Privileges : A Memoir,en,276,[Autobiography],"When Mary Higgins Clark's father died, her wid..."
6292,Junie B. Jones and Some Sneaky Peeky Spying (...,en,82,[Juvenile Fiction],“Hilarious. Barbara Park makes reading fun.” —...
6293,Cosmos,en,389,[Science],RETURNING TO TELEVISION AS AN ALL-NEW MINISERI...
6294,Strangers in the Night,en,368,[Fiction],Feel the thrill of unexpected passion between ...
6295,McNally's Folly,en,359,[Fiction],When the husband of an actress sips a poisoned...
...,...,...,...,...,...
6570,Art of Peace (Shambhala Pocket Classics),en,192,[Philosophy],The inspirational teachings in this collection...
6571,Autumn Lover,en,416,[Fiction],Returning to her Wyoming ranch at the Civil Wa...
6572,Tales of Two Cities: A Persian Memoir,en,276,[Exiles],"""Tales of Two Cities is an engrossing, cross-c..."
6573,Heat,en,244,[Juvenile Fiction],The #1 Bestseller! Michael Arroyo has a pitchi...
6574,"Shadow Puppets (Ender, Book 7)",en,477,[Bean (Fictitious character : Card)],Orson Scott Card's award-winning Ender series ...

In [ ]:
books_details.iloc[6291:6575].to_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/Books_6291_6574.csv')

### Merging all CSVs

In [ ]:
csv_files = ['Books_0_98','Books_99_378','Books_379_784','Books_785_1000',
             'Books_1001_1300','Books_1301_1420','Books_1421_1580','Books_1581_1600',
             'Books_1601_1960','Books_1961_3190','Books_3191_3295','Books_3296_4190',
             'Books_4190_5180','Books_5181_6010','Books_6011_6180','Books_6181_6290',
             'Books_6291_6574']

frames = []

for csv in csv_files:
  df = pd.read_csv(f"/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/{csv}.csv")
  frames.append(df)

Books = pd.concat(frames, ignore_index=True)
print(Books.shape)

(6575, 6)

In [ ]:
Books.head()

,Unnamed: 0,Book_Title,language,page_count,categories,description
0,0,Footfall,en,706,['Fiction'],"Hostile extraterrestrials, known as the Fithp,..."
1,1,The Reader,en,224,['Fiction'],Hailed for its coiled eroticism and the moral ...
2,2,Hidden Star (The Star Series),en,234,['Fiction'],Eleven-year-old Nolitye's granny used to say: ...
3,3,Songs in Ordinary Time (Oprah's Book Club (Pap...,en,682,['Fiction'],This New York Times bestseller of a troubled f...
4,4,The Hours: A Novel,en,295,['Fiction'],Michael Cunningham brings together his Pulitze...

In [ ]:
Books.to_csv('/content/drive/MyDrive/Semester-2/Recommendation System/Assignment 3/Books_Final.csv')