<a href="https://colab.research.google.com/github/Sarvesh1814/US-Book-Recommendation-System/blob/main/RS_Assignment3_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Books_Final.csv")
df1

,Unnamed: 0.1,Unnamed: 0,Book_Title,language,page_count,categories,description
0,0,0,Footfall,en,706,['Fiction'],"Hostile extraterrestrials, known as the Fithp,..."
1,1,1,The Reader,en,224,['Fiction'],Hailed for its coiled eroticism and the moral ...
2,2,2,Hidden Star (The Star Series),en,234,['Fiction'],Eleven-year-old Nolitye's granny used to say: ...
3,3,3,Songs in Ordinary Time (Oprah's Book Club (Pap...,en,682,['Fiction'],This New York Times bestseller of a troubled f...
4,4,4,The Hours: A Novel,en,295,['Fiction'],Michael Cunningham brings together his Pulitze...
...,...,...,...,...,...,...,...
6570,6570,6570,Art of Peace (Shambhala Pocket Classics),en,192.0,['Philosophy'],The inspirational teachings in this collection...
6571,6571,6571,Autumn Lover,en,416.0,['Fiction'],Returning to her Wyoming ranch at the Civil Wa...
6572,6572,6572,Tales of Two Cities: A Persian Memoir,en,276.0,['Exiles'],"""Tales of Two Cities is an engrossing, cross-c..."
6573,6573,6573,Heat,en,244.0,['Juvenile Fiction'],The #1 Bestseller! Michael Arroyo has a pitchi...
6574,6574,6574,"Shadow Puppets (Ender, Book 7)",en,477.0,['Bean (Fictitious character : Card)'],Orson Scott Card's award-winning Ender series ...

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6575 entries, 0 to 6574
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0.1  6575 non-null   int64
 1   Unnamed: 0    6575 non-null   int64
 2   Book_Title    6574 non-null   object
 3   language      6575 non-null   object
 4   page_count    6476 non-null   object
 5   categories    6575 non-null   object
 6   description   6400 non-null   object
dtypes: int64(2), object(5)
memory usage: 359.7+ KB

## Keep only informative columns

In [ ]:
df1=df1[['Book_Title', 'page_count','categories', 'description' ]]
df1

,Book_Title,page_count,categories,description
0,Footfall,706,['Fiction'],"Hostile extraterrestrials, known as the Fithp,..."
1,The Reader,224,['Fiction'],Hailed for its coiled eroticism and the moral ...
2,Hidden Star (The Star Series),234,['Fiction'],Eleven-year-old Nolitye's granny used to say: ...
3,Songs in Ordinary Time (Oprah's Book Club (Pap...,682,['Fiction'],This New York Times bestseller of a troubled f...
4,The Hours: A Novel,295,['Fiction'],Michael Cunningham brings together his Pulitze...
...,...,...,...,...
6570,Art of Peace (Shambhala Pocket Classics),192.0,['Philosophy'],The inspirational teachings in this collection...
6571,Autumn Lover,416.0,['Fiction'],Returning to her Wyoming ranch at the Civil Wa...
6572,Tales of Two Cities: A Persian Memoir,276.0,['Exiles'],"""Tales of Two Cities is an engrossing, cross-c..."
6573,Heat,244.0,['Juvenile Fiction'],The #1 Bestseller! Michael Arroyo has a pitchi...
6574,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],Orson Scott Card's award-winning Ender series ...

## Drop All Null value rows and rows having empty list

In [ ]:
df1.replace(' ', pd.np.nan, inplace=True)
null_counts = df1.isnull().sum()
null_counts

<ipython-input-78-0f41b2d10102>:1: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  df1.replace(' ', pd.np.nan, inplace=True)
<ipython-input-78-0f41b2d10102>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace(' ', pd.np.nan, inplace=True)

Book_Title       1
page_count     100
categories       1
description    176
dtype: int64

In [ ]:
df1 = df1.dropna()
mask = df1.apply(lambda row: isinstance(row['categories'], list) and len(row['categories']) == 0, axis=1)
df = df1.drop(df1[mask].index)
df1

,Book_Title,page_count,categories,description
0,Footfall,706,['Fiction'],"Hostile extraterrestrials, known as the Fithp,..."
1,The Reader,224,['Fiction'],Hailed for its coiled eroticism and the moral ...
2,Hidden Star (The Star Series),234,['Fiction'],Eleven-year-old Nolitye's granny used to say: ...
3,Songs in Ordinary Time (Oprah's Book Club (Pap...,682,['Fiction'],This New York Times bestseller of a troubled f...
4,The Hours: A Novel,295,['Fiction'],Michael Cunningham brings together his Pulitze...
...,...,...,...,...
6570,Art of Peace (Shambhala Pocket Classics),192.0,['Philosophy'],The inspirational teachings in this collection...
6571,Autumn Lover,416.0,['Fiction'],Returning to her Wyoming ranch at the Civil Wa...
6572,Tales of Two Cities: A Persian Memoir,276.0,['Exiles'],"""Tales of Two Cities is an engrossing, cross-c..."
6573,Heat,244.0,['Juvenile Fiction'],The #1 Bestseller! Michael Arroyo has a pitchi...
6574,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],Orson Scott Card's award-winning Ender series ...

In [ ]:
null_counts = df1.isnull().sum()
null_counts

Book_Title     0
page_count     0
categories     0
description    0
dtype: int64

## Clean the text of description

In [ ]:
import nltk
nltk.download('omw-1.4')
nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

def clean_text(text):
    """
    Clean the text by removing punctuation, stopwords, and converting to lowercase.
    """
    # Remove punctuation
    text = re.sub(r"[^\w\s]", "", text)
    
    # Convert to lowercase
    text = text.lower()

    # Remove non-English characters
    text = re.sub(r"[^\x00-\x7F]+", "", text)
    
    # Tokenize the text
    words = word_tokenize(text)
    
    # Remove stopwords
    stop_words = set(stopwords.words("english"))
    words = [word for word in words if word not in stop_words]
    
    # Perform lemmatization
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]
    
    # Join the words back into a single string
    cleaned_text = " ".join(words)
    
    return cleaned_text

In [ ]:
df1["Synopsis"] = df["description"].apply(clean_text)

<ipython-input-83-70ff3920d010>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Synopsis"] = df["description"].apply(clean_text)

In [ ]:
df1

,Book_Title,page_count,categories,description,Synopsis
0,Footfall,706,['Fiction'],"Hostile extraterrestrials, known as the Fithp,...",hostile extraterrestrial known fithp invade ea...
1,The Reader,224,['Fiction'],Hailed for its coiled eroticism and the moral ...,hailed coiled eroticism moral claim make upon ...
2,Hidden Star (The Star Series),234,['Fiction'],Eleven-year-old Nolitye's granny used to say: ...,elevenyearold nolityes granny used say mess wo...
3,Songs in Ordinary Time (Oprah's Book Club (Pap...,682,['Fiction'],This New York Times bestseller of a troubled f...,new york time bestseller troubled family 1960s...
4,The Hours: A Novel,295,['Fiction'],Michael Cunningham brings together his Pulitze...,michael cunningham brings together pulitzer pr...
...,...,...,...,...,...
6570,Art of Peace (Shambhala Pocket Classics),192.0,['Philosophy'],The inspirational teachings in this collection...,inspirational teaching collection show real wa...
6571,Autumn Lover,416.0,['Fiction'],Returning to her Wyoming ranch at the Civil Wa...,returning wyoming ranch civil war end elyssa s...
6572,Tales of Two Cities: A Persian Memoir,276.0,['Exiles'],"""Tales of Two Cities is an engrossing, cross-c...",tale two city engrossing crosscultural memoir ...
6573,Heat,244.0,['Juvenile Fiction'],The #1 Bestseller! Michael Arroyo has a pitchi...,1 bestseller michael arroyo pitching arm throw...
6574,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],Orson Scott Card's award-winning Ender series ...,orson scott card awardwinning ender series gen...

In [ ]:
df1.rename(columns={'Book_Title': 'Book-Title'}, inplace=True)
df1 = df1[['Book-Title', 'page_count', 'categories', 'Synopsis']]
df1

<ipython-input-85-c2a6c27714c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(columns={'Book_Title': 'Book-Title'}, inplace=True)

,Book-Title,page_count,categories,Synopsis
0,Footfall,706,['Fiction'],hostile extraterrestrial known fithp invade ea...
1,The Reader,224,['Fiction'],hailed coiled eroticism moral claim make upon ...
2,Hidden Star (The Star Series),234,['Fiction'],elevenyearold nolityes granny used say mess wo...
3,Songs in Ordinary Time (Oprah's Book Club (Pap...,682,['Fiction'],new york time bestseller troubled family 1960s...
4,The Hours: A Novel,295,['Fiction'],michael cunningham brings together pulitzer pr...
...,...,...,...,...
6570,Art of Peace (Shambhala Pocket Classics),192.0,['Philosophy'],inspirational teaching collection show real wa...
6571,Autumn Lover,416.0,['Fiction'],returning wyoming ranch civil war end elyssa s...
6572,Tales of Two Cities: A Persian Memoir,276.0,['Exiles'],tale two city engrossing crosscultural memoir ...
6573,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...
6574,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Books.csv")
df2 = df2[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]
df2

<ipython-input-86-6a0e365130e2>:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [ ]:
results_df = df1.merge(df2, how="left", on="Book-Title")
results_df = results_df.drop_duplicates()
results_df

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher
0,Footfall,706,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books
1,Footfall,706,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books
2,The Reader,224,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House
3,The Reader,224,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA
4,The Reader,224,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc
...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books

In [ ]:
results_df.isna().sum()

Book-Title             0
page_count             0
categories             0
Synopsis               0
ISBN                   0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
isbn_mask = (results_df['ISBN'] == '0671867873')
isbn_results = results_df[isbn_mask]
isbn_results['Synopsis']

Series([], Name: Synopsis, dtype: object)

In [ ]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12774 entries, 0 to 12773
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Book-Title           12774 non-null  object
 1   page_count           12774 non-null  object
 2   categories           12774 non-null  object
 3   Synopsis             12774 non-null  object
 4   ISBN                 12774 non-null  object
 5   Book-Author          12774 non-null  object
 6   Year-Of-Publication  12774 non-null  object
 7   Publisher            12774 non-null  object
dtypes: object(8)
memory usage: 898.2+ KB

In [ ]:
results_df.to_csv('/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Books_final_dataset.csv', index=False)

## Filtering Train and Test

In [ ]:
train_df = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/train_df.csv")
train_df

,Unnamed: 0,User-ID,ISBN,Book-Rating,book_name
0,0,68436,0345323440,8,Footfall
1,1,216829,0375707972,5,The Reader
2,2,153718,0373484887,7,Hidden Star (The Star Series)
3,3,62862,0140244824,5,Songs in Ordinary Time (Oprah's Book Club (Pap...
4,4,17003,0312305060,10,The Hours: A Novel
...,...,...,...,...,...
96291,96291,251721,1551666766,3,Naughty Marietta
96292,96292,275476,0151008116,8,Life of Pi
96293,96293,237898,0375758232,7,Paris to the Moon
96294,96294,254,0451167317,8,The Dark Half
96295,96295,34588,0140257934,10,"These High, Green Hills (The Mitford Years)"

In [ ]:
train_df = train_df[train_df['ISBN'].isin(results_df['ISBN'])]
train_df

,Unnamed: 0,User-ID,ISBN,Book-Rating,book_name
0,0,68436,0345323440,8,Footfall
1,1,216829,0375707972,5,The Reader
2,2,153718,0373484887,7,Hidden Star (The Star Series)
3,3,62862,0140244824,5,Songs in Ordinary Time (Oprah's Book Club (Pap...
4,4,17003,0312305060,10,The Hours: A Novel
...,...,...,...,...,...
96291,96291,251721,1551666766,3,Naughty Marietta
96292,96292,275476,0151008116,8,Life of Pi
96293,96293,237898,0375758232,7,Paris to the Moon
96294,96294,254,0451167317,8,The Dark Half
96295,96295,34588,0140257934,10,"These High, Green Hills (The Mitford Years)"

In [ ]:
train_df.to_csv('/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Train_df_final.csv', index=False)

In [ ]:
test_df = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/test_df.csv")
test_df

,Unnamed: 0,User-ID,ISBN,Book-Rating,book_name
0,0,151824,0425167801,9,Crewel World (Needlecraft Mysteries)
1,1,174157,0767914767,7,The Devil Wears Prada : A Novel
2,2,11718,0440212359,8,London Transports
3,3,253243,0425122123,7,Clear and Present Danger (Jack Ryan Novels)
4,4,34657,0451208811,8,Blood Orchid
...,...,...,...,...,...
24069,24069,61747,0345422589,8,Running With the Demon (The Word and the Void ...
24070,24070,109135,0142001740,9,The Secret Life of Bees
24071,24071,153927,0842329293,10,The Indwelling: The Beast Takes Possession (Le...
24072,24072,33656,0446672351,9,Reservation Blues
24073,24073,259260,0515136557,8,The Cat Who Brought Down the House

In [ ]:
test_df = test_df[test_df['ISBN'].isin(results_df['ISBN'])]
test_df

,Unnamed: 0,User-ID,ISBN,Book-Rating,book_name
0,0,151824,0425167801,9,Crewel World (Needlecraft Mysteries)
1,1,174157,0767914767,7,The Devil Wears Prada : A Novel
2,2,11718,0440212359,8,London Transports
3,3,253243,0425122123,7,Clear and Present Danger (Jack Ryan Novels)
4,4,34657,0451208811,8,Blood Orchid
...,...,...,...,...,...
24069,24069,61747,0345422589,8,Running With the Demon (The Word and the Void ...
24070,24070,109135,0142001740,9,The Secret Life of Bees
24071,24071,153927,0842329293,10,The Indwelling: The Beast Takes Possession (Le...
24072,24072,33656,0446672351,9,Reservation Blues
24073,24073,259260,0515136557,8,The Cat Who Brought Down the House

In [ ]:
test_df.to_csv('/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Test_df_final.csv', index=False)

# Creating Word2Vec for synopsis

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Books_final_dataset.csv")
df

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher
0,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books
1,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books
2,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House
3,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA
4,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc
...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books

In [ ]:
df.isna().sum()

Book-Title             0
page_count             0
categories             0
Synopsis               0
ISBN                   0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [ ]:
import nltk

nltk.download("punkt")
nltk.download("wordnet")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
import numpy as np

In [ ]:
from gensim.models import Word2Vec
from nltk.tokenize import word_tokenize

# Tokenize the sentences
tokenized_sentences = [word_tokenize(sentence) for sentence in df["Synopsis"]]

# Train the Word2Vec model
model = Word2Vec(tokenized_sentences, vector_size=100, window=5, min_count=1)

In [ ]:
book_vectors = []
for i in range(len(df["Synopsis"])):
  words = df["Synopsis"][i].split()

  # Initialize the document representation vector
  document_vector = np.zeros((1,model.vector_size))

  # For each word in the document, get its word embedding and sum it with the document representation vector
  for word in words:
      if word in model.wv.key_to_index:
          document_vector += model.wv[word]

  # Divide the document representation vector by the number of words in the document to get the average word embedding
  document_vector = document_vector / len(words)
  book_vectors.append(document_vector)

In [ ]:
df4 = pd.DataFrame({"Word_vec":book_vectors})

In [ ]:
df4

                                                Word_vec
0      [[-0.32408969453535974, 0.1780901828315109, 0....
1      [[-0.32408969453535974, 0.1780901828315109, 0....
2      [[-0.26543906432591746, 0.18058132935605456, -...
3      [[-0.26543906432591746, 0.18058132935605456, -...
4      [[-0.26543906432591746, 0.18058132935605456, -...
...                                                  ...
12769  [[-0.4851516437020183, 0.30569880909657454, -0...
12770  [[-0.4851516437020183, 0.30569880909657454, -0...
12771  [[-0.4851516437020183, 0.30569880909657454, -0...
12772  [[-0.4851516437020183, 0.30569880909657454, -0...
12773  [[-0.40771608811585164, 0.394778627409743, 0.0...

[12774 rows x 1 columns]

In [ ]:
df['Word_Vec'] = df4

In [ ]:
df

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher,Word_Vec
0,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books,"[[-0.32408969453535974, 0.1780901828315109, 0...."
1,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books,"[[-0.32408969453535974, 0.1780901828315109, 0...."
2,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House,"[[-0.26543906432591746, 0.18058132935605456, -..."
3,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA,"[[-0.26543906432591746, 0.18058132935605456, -..."
4,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc,"[[-0.26543906432591746, 0.18058132935605456, -..."
...,...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books,"[[-0.40771608811585164, 0.394778627409743, 0.0..."

In [ ]:
df.to_csv('Trial_Books.csv', index=False)
df

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher,Word_Vec
0,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books,"[[-0.32408969453535974, 0.1780901828315109, 0...."
1,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books,"[[-0.32408969453535974, 0.1780901828315109, 0...."
2,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House,"[[-0.26543906432591746, 0.18058132935605456, -..."
3,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA,"[[-0.26543906432591746, 0.18058132935605456, -..."
4,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc,"[[-0.26543906432591746, 0.18058132935605456, -..."
...,...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers,"[[-0.4851516437020183, 0.30569880909657454, -0..."
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books,"[[-0.40771608811585164, 0.394778627409743, 0.0..."

## Convert Word2Vec to 100 individual Book features

In [ ]:
import numpy as np
import pandas as pd

arr = np.vstack(df['Word_Vec'].values)

# Reshape the array to the desired shape
arr = arr.reshape(-1, 100)
arr.shape

(12774, 100)

In [ ]:
df_word2vec = pd.DataFrame(arr, columns=['feature_{}'.format(i+1) for i in range(100)])
df5 = pd.concat([df, df_word2vec], axis=1)

# drop the original 'word2vec' column
df5 = df5.drop('Word_Vec', axis=1)

In [ ]:
df5

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher,feature_1,feature_2,...,feature_91,feature_92,feature_93,feature_94,feature_95,feature_96,feature_97,feature_98,feature_99,feature_100
0,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books,-0.324090,0.178090,...,0.382992,-0.090160,-0.040599,-0.159770,0.468369,0.346564,0.053775,-0.575963,0.202055,0.013086
1,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books,-0.324090,0.178090,...,0.382992,-0.090160,-0.040599,-0.159770,0.468369,0.346564,0.053775,-0.575963,0.202055,0.013086
2,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House,-0.265439,0.180581,...,0.527207,-0.152366,-0.067668,0.264588,0.671669,0.287058,0.089154,-0.696850,-0.135784,0.029446
3,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA,-0.265439,0.180581,...,0.527207,-0.152366,-0.067668,0.264588,0.671669,0.287058,0.089154,-0.696850,-0.135784,0.029446
4,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc,-0.265439,0.180581,...,0.527207,-0.152366,-0.067668,0.264588,0.671669,0.287058,0.089154,-0.696850,-0.135784,0.029446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch,-0.485152,0.305699,...,0.585524,-0.146053,0.055709,0.105450,0.671014,0.420261,-0.018404,-0.749099,-0.129430,0.161574
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins,-0.485152,0.305699,...,0.585524,-0.146053,0.055709,0.105450,0.671014,0.420261,-0.018404,-0.749099,-0.129430,0.161574
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books,-0.485152,0.305699,...,0.585524,-0.146053,0.055709,0.105450,0.671014,0.420261,-0.018404,-0.749099,-0.129430,0.161574
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers,-0.485152,0.305699,...,0.585524,-0.146053,0.055709,0.105450,0.671014,0.420261,-0.018404,-0.749099,-0.129430,0.161574
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books,-0.407716,0.394779,...,0.526002,0.011215,0.000382,-0.060507,0.898616,0.511100,-0.141442,-0.612886,0.187668,-0.121639

In [ ]:
df5.to_csv('/content/drive/MyDrive/RS Data/Assignment 3/Processed_data/Books_with_108_features.csv', index=False)

In [ ]:
dft = pd.read_csv("/content/Trial_Books.csv")
dft

,Book-Title,page_count,categories,Synopsis,ISBN,Book-Author,Year-Of-Publication,Publisher,Word_Vec
0,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323440,Larry Niven,1996,Del Rey Books,[[-0.32408969 0.17809018 0.08567939 0.05169...
1,Footfall,706.0,['Fiction'],hostile extraterrestrial known fithp invade ea...,0345323475,Larry Niven,1985,Ballantine Books,[[-0.32408969 0.17809018 0.08567939 0.05169...
2,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679442790,Bernhard Schlink,1997,Random House,[[-0.26543906 0.18058133 -0.04499814 0.52179...
3,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0375707972,Bernhard Schlink,1999,Vintage Books USA,[[-0.26543906 0.18058133 -0.04499814 0.52179...
4,The Reader,224.0,['Fiction'],hailed coiled eroticism moral claim make upon ...,0679781307,Carol Brown Janeway,1998,Random House Inc,[[-0.26543906 0.18058133 -0.04499814 0.52179...
...,...,...,...,...,...,...,...,...,...
12769,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0061093580,Stuart Woods,1995,HarperTorch,[[-0.48515164 0.30569881 -0.01879496 0.48827...
12770,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0060177764,Stuart Woods,1994,Harpercollins,[[-0.48515164 0.30569881 -0.01879496 0.48827...
12771,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0345306732,Ed McBain,1983,Ballantine Books,[[-0.48515164 0.30569881 -0.01879496 0.48827...
12772,Heat,244.0,['Juvenile Fiction'],1 bestseller michael arroyo pitching arm throw...,0944276512,Arthur Herzog,1989,Tudor Publishers,[[-0.48515164 0.30569881 -0.01879496 0.48827...
12773,"Shadow Puppets (Ender, Book 7)",477.0,['Bean (Fictitious character : Card)'],orson scott card awardwinning ender series gen...,0765340054,Orson Scott Card,2003,Tor Books,[[-4.07716088e-01 3.94778627e-01 3.44128194e...